/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}



        .cf { zoom: 1; }
        .cf:before, .cf:after { 
          content: ""; display: table; 
        }
        .cf:after { clear: both; }

 

.container {
  width:850px;
  background-image:url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/7248/grid-1.png");
  margin:30px auto;
  border:1px solid black
}

header.primary, footer#colophon{
  /*width:920px;*/
  width:40.833333333%;
  background:grey;
  float:left;
  /*margin:20px;*/
  margin-left:4.083333333%;
  padding:2.17%;
}

#content{
  /*width:544px;*/
  width:56.666666666%;
  background:grey;
  float:left;
  margin-left:2.083333333%;
  /*padding:20px;*/
   padding:2.17%;
  
}

aside{
  /*width:356px;*/
  width:50.083333333%;
  background:grey;
  float:right;
  margin-left:2.083333333%;
  /*padding:20px;*/
  padding:2.17%;
}



/* utility grid classes */
.col-4{
  width:330px;
  background:grey;
  float:left;
  margin-left:20px;
}

.col-6{
  width:504px;
  background:grey;
  float:left;
  margin-left:20px;
}

.col-12{
  width:920px;
  background:grey;
  float:left;
  margin:20px;
}
